
 <div class="main-wrapper main-wrapper-2">
        <header class="header-area header-responsive-padding header-height-1">
            <div class="header-top d-none d-lg-block bg-gray">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-6">
                            <div class="welcome-text">
                                
                                {{#if user}}
                                <p>welocome {{user.name}}</p>
                                 {{else}}
                                <p>welcome please login ! </p>
                                 {{/if}}
                            </div>
                        </div>
                        {{!-- <div class="col-lg-6 col-6">
                            <div class="language-currency-wrap">
                                <div class="currency-wrap border-style">
                                    <a class="currency-active" href="#">$ Dollar (US) <i class=" ti-angle-down "></i></a>
                                    <div class="currency-dropdown">
                                        <ul>
                                            <li><a href="#">Taka (BDT) </a></li>
                                            <li><a href="#">Riyal (SAR) </a></li>
                                            <li><a href="#">Rupee (INR) </a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="language-wrap">
                                    <a class="language-active" href="#"><img src="assets/images/icon-img/flag.png" alt=""> English <i class=" ti-angle-down "></i></a>
                                    <div class="language-dropdown">
                                        <ul>
                                            <li><a href="#"><img src="assets/images/icon-img/flag.png" alt="">English </a></li>
                                            <li><a href="#"><img src="assets/images/icon-img/spanish.png" alt="">Spanish</a></li>
                                            <li><a href="#"><img src="assets/images/icon-img/arabic.png" alt="">Arabic </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> --}}
                    </div>
                </div>
            </div>
            <div class="header-bottom sticky-bar">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-6 col-6">
                            <div class="logo">
                                <a href="index.html"><img src="assets/images/logo/logo.png" height="130rem" width="130rem" alt="logo"></a>
                            </div>
                        </div>
                                                <div class="col-lg-6 d-none d-lg-block d-flex justify-content-center">
                            <div class="main-menu text-center">
                                <nav>
                                    <ul>
                                        <li><a href="/show-allproducts">PRODUCTS</a>
                                        </li>
                                        <li><a href="shop.html">MEN</a>
                                            <ul class="mega-menu-style mega-menu-mrg-1">
                                                <li>
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-title" href="#">Shop Layout</a>
                                                            <ul>
                                                                <li><a href="shop.html">standard style</a></li>
                                                                <li><a href="shop-sidebar.html">shop grid sidebar</a></li>
                                                                <li><a href="shop-list.html">shop list style</a></li>
                                                                <li><a href="shop-list-sidebar.html">shop list sidebar</a></li>
                                                                <li><a href="shop-right-sidebar.html">shop right sidebar</a></li>
                                                                <li><a href="shop-location.html">store location</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-title" href="#">Products Layout</a>
                                                            <ul>
                                                                <li><a href="product-details.html">tab style 1</a></li>
                                                                <li><a href="product-details-2.html">tab style 2</a></li>
                                                                <li><a href="product-details-gallery.html">gallery style </a></li>
                                                                <li><a href="product-details-affiliate.html">affiliate style</a></li>
                                                                <li><a href="product-details-group.html">group style</a></li>
                                                                <li><a href="product-details-fixed-img.html">fixed image style </a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="shop.html"><img src="assets/images/banner/menu.png" alt=""></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="shop.html">WOMEN</a>
                                            <ul class="mega-menu-style mega-menu-mrg-1">
                                                <li>
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-title" href="#">Shop Layout</a>
                                                            <ul>
                                                                <li><a href="shop.html">standard style</a></li>
                                                                <li><a href="shop-sidebar.html">shop grid sidebar</a></li>
                                                                <li><a href="shop-list.html">shop list style</a></li>
                                                                <li><a href="shop-list-sidebar.html">shop list sidebar</a></li>
                                                                <li><a href="shop-right-sidebar.html">shop right sidebar</a></li>
                                                                <li><a href="shop-location.html">store location</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-title" href="#">Products Layout</a>
                                                            <ul>
                                                                <li><a href="product-details.html">tab style 1</a></li>
                                                                <li><a href="product-details-2.html">tab style 2</a></li>
                                                                <li><a href="product-details-gallery.html">gallery style </a></li>
                                                                <li><a href="product-details-affiliate.html">affiliate style</a></li>
                                                                <li><a href="product-details-group.html">group style</a></li>
                                                                <li><a href="product-details-fixed-img.html">fixed image style </a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="shop.html"><img src="assets/images/banner/menu.png" alt=""></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="shop.html">KIDS</a>
                                            <ul class="mega-menu-style mega-menu-mrg-1">
                                                <li>
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-title" href="#">Shop Layout</a>
                                                            <ul>
                                                                <li><a href="shop.html">standard style</a></li>
                                                                <li><a href="shop-sidebar.html">shop grid sidebar</a></li>
                                                                <li><a href="shop-list.html">shop list style</a></li>
                                                                <li><a href="shop-list-sidebar.html">shop list sidebar</a></li>
                                                                <li><a href="shop-right-sidebar.html">shop right sidebar</a></li>
                                                                <li><a href="shop-location.html">store location</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-title" href="#">Products Layout</a>
                                                            <ul>
                                                                <li><a href="product-details.html">tab style 1</a></li>
                                                                <li><a href="product-details-2.html">tab style 2</a></li>
                                                                <li><a href="product-details-gallery.html">gallery style </a></li>
                                                                <li><a href="product-details-affiliate.html">affiliate style</a></li>
                                                                <li><a href="product-details-group.html">group style</a></li>
                                                                <li><a href="product-details-fixed-img.html">fixed image style </a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="shop.html"><img src="assets/images/banner/menu.png" alt=""></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="about-us.html">ABOUT</a></li>
                                        <li><a href="contact-us.html">CONTACT US</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                       <div class="col-lg-3 col-md-6 col-6">
                            <div class="header-action-wrap">
                                <div class="header-action-style header-search-1">
                                    {{!-- <a class="search-toggle" href="#">
                                        <i class="pe-7s-search s-open"></i>
                                        <i class="pe-7s-close s-close"></i>
                                    </a> --}}
                                    {{!-- <button style="border: none;" class="bg-white text-small"> --}}
                                        {{#if user}}
                                         <a href="/logout">LOGOUT</a>
                                        {{else}}
                                        <a href="/user_signin">LOGIN</a>
                                        {{/if}}
                                        {{!-- </button> --}}
                                        
                                    <div class="search-wrap-1">
                                        <form action="#">
                                            <input placeholder="Search products…" type="text">
                                            <button class="button-search"><i class="pe-7s-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                                {{!-- <div class="header-action-style">
                                    {{#if user}}
                                              <a title="Logout Register" href="/logout"><i class="pe-7s-user"></i></a>
                                 
                                    {{else}}
                                       <a title="Login Register" href="view_product"></a>"><i class="pe-7s-user"></i></a>
                          
                                  
                                    {{/if}}
                                </div> --}}
                                <div class="header-action-style">
                                    <a title="Wishlist" href="wishlist.html"><i class="pe-7s-like"></i></a>
                                </div>
                                <div class="header-action-style">
                                    <a title="profile page" href="/profile"><i class="pe-7s-user"></i></a>
                                    </div>
                                <div class="header-action-style header-action-cart">
                                    <a class="cart-active" href="#"><i class="pe-7s-shopbag"></i>
                                        <span class="product-count bg-black">01</span>
                                    </a>
                                </div>
                                <div class="header-action-style d-block d-lg-none">
                                    <a class="mobile-menu-active-button" href="#"><i class="pe-7s-menu"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
              <div class="sidebar-cart-active">
            <div class="sidebar-cart-all">
                <a class="cart-close" href="#"><i class="pe-7s-close"></i></a>
                <div class="cart-content">
                    <h3>Shopping Cart</h3>
                    <ul>
                    </ul>
                    <div class="cart-btn btn-hover">
                        <a class="theme-color" href="/user-cart">view cart</a>
                    </div>
                    <div class="checkout-btn btn-hover">
                        <a class="theme-color" href="checkout.html">checkout</a>
                    </div>
                </div>
            </div>
        </div>


  <div class="category-area bg-gray-4 pt-95 pb-100">
            <div class="container">
                <div class="section-title-2 st-border-center text-center mb-75" data-aos="fade-up" data-aos-delay="200">
                    <h2>Products Category</h2>
                </div>
                <div class="category-slider-active-2 swiper-container">
                    <div class="swiper-wrapper">
                        {{#each category}}
                        <div class="row">
                            <div class="single-category-wrap-2 text-center" data-aos="fade-up" data-aos-delay="200">
                                <div class="category-content-2 category-content-2-black">
                                    <h4><a href="shop.html">{{this.categoryname}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                    </a></h4>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="product-area pt-95 pb-60">
            <div class="container">
                <div class="section-title-tab-wrap mb-75" data-aos="fade-up" data-aos-delay="200">
                    <div class="section-title-2">
                        <h2>Hot Products</h2>
                    </div>
                    <div class="tab-style-1 nav">
                        <a class="active" href="#pro-1" data-bs-toggle="tab">New Arrivals </a>
                        <a href="#pro-2" data-bs-toggle="tab" class=""> Best Sellers </a>
                        <a href="#pro-3" data-bs-toggle="tab" class=""> Sale Items </a>
                    </div>
                </div>
                <div class="tab-content jump">
                    <div id="pro-1" class="tab-pane active">
                        <div class="row">
                            {{#each products}}
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                <div class="product-wrap mb-35" data-aos="fade-up" data-aos-delay="200">
                                    <div class="product-img img-zoom mb-25">
                                        <a href="/image_zoom">
                                            <img src="/product-images/{{this._id}}.jpg" height="300px" alt="">
                                        </a>
                                        <div class="product-badge badge-top badge-right badge-pink">
                                            <span>-10%</span>
                                        </div>
                                        <div class="product-action-wrap">
                                            <button class="product-action-btn-1" onclick="addToWishlist('{{this._id}}')"title="Wishlist"><i class="pe-7s-like"></i></button>
                                            <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                <i class="pe-7s-look"></i>
                                            </button>
                                        </div>
                                        <div class="product-action-2-wrap">
                                            {{!-- <a href="/add-to-cart/{{this._id}}"> --}}
                                            <button class="product-action-btn-2" onclick="addTocart('{{this._id}}')"title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href="product-details.html">{{this.name}}</a></h3>
                                        <div class="product-price">
                                            {{!-- <span class="old-price">$25.89 </span> --}}
                                            <span class="new-price">{{this.price}} </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

