



<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Urdan - Minimal eCommerce HTML Templatess</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description"
        content="Urdan Minimal eCommerce Bootstrap 5 Template is a stunning eCommerce website template that is the best choice for any online store.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <link rel="canonical" href="https://htmldemo.hasthemes.com/urdan/index.html" />

    <!-- Open Graph (OG) meta tags are snippets of code that control how URLs are displayed when shared on social media  -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Urdan - Minimal eCommerce HTML Template" />
    <meta property="og:url" content="https://htmldemo.hasthemes.com/urdan/index.html" />
    <meta property="og:site_name" content="Urdan - Minimal eCommerce HTML Template" />
    <!-- For the og:image content, replace the # with a link of an image -->
    <meta property="og:image" content="#" />
    <meta property="og:description"
        content="Urdan Minimal eCommerce Bootstrap 5 Template is a stunning eCommerce website template that is the best choice for any online store." />
    <!-- Add site Favicon -->
    <link rel="icon" href="/User/images/favicon/cropped-favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="/User/images/favicon/cropped-favicon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="assets/images/favicon/cropped-favicon-180x180.png" />
    <meta name="msapplication-TileImage" content="assets/images/favicon/cropped-favicon-270x270.png" />

    <!-- All CSS is here
	============================================ -->
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/vendor/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="/assets/css/vendor/themify-icons.css" />
    <link rel="stylesheet" href="/assets/css/vendor/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/css/plugins/animate.css" />
    <link rel="stylesheet" href="/assets/css/plugins/aos.css" />
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup.css" />
    <link rel="stylesheet" href="/assets/css/plugins/swiper.min.css" />
    <link rel="stylesheet" href="/assets/css/plugins/jquery-ui.css" />
    <link rel="stylesheet" href="/assets/css/plugins/nice-select.css" />
    <link rel="stylesheet" href="/assets/css/plugins/select2.min.css" />
    <link rel="stylesheet" href="/assets/css/plugins/easyzoom.css" />
    <link rel="stylesheet" href="/assets/css/plugins/slinky.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
 <div class="main-wrapper main-wrapper-2">
        <header class="header-area header-responsive-padding header-height-1">
            <div class="header-bottom sticky-bar">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-6 col-6">
                            <div class="logo">
                                <a href="index.html"><img src="/assets/images/logo/logo.png" height="130rem" width="130rem" alt="logo"></a>
                            </div>
                        </div>
                                                <div class="col-lg-6 d-none d-lg-block d-flex justify-content-center">
                            <div class="main-menu text-center">
                                <nav>
                                    <ul>
                                        <li><a href="/show-allproducts">PRODUCTS</a>
                                        </li>
                                        <li><a href="shop.html">MEN</a>
                                            <ul class="mega-menu-style mega-menu-mrg-1">
                                                <li>
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-title" href="#">Shop Layout</a>
                                                            <ul>
                                                                <li><a href="shop.html">standard style</a></li>
                                                                <li><a href="shop-sidebar.html">shop grid sidebar</a></li>
                                                                <li><a href="shop-list.html">shop list style</a></li>
                                                                <li><a href="shop-list-sidebar.html">shop list sidebar</a></li>
                                                                <li><a href="shop-right-sidebar.html">shop right sidebar</a></li>
                                                                <li><a href="shop-location.html">store location</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-title" href="#">Products Layout</a>
                                                            <ul>
                                                                <li><a href="product-details.html">tab style 1</a></li>
                                                                <li><a href="product-details-2.html">tab style 2</a></li>
                                                                <li><a href="product-details-gallery.html">gallery style </a></li>
                                                                <li><a href="product-details-affiliate.html">affiliate style</a></li>
                                                                <li><a href="product-details-group.html">group style</a></li>
                                                                <li><a href="product-details-fixed-img.html">fixed image style </a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="shop.html"><img src="assets/images/banner/menu.png" alt=""></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="shop.html">WOMEN</a>
                                            <ul class="mega-menu-style mega-menu-mrg-1">
                                                <li>
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-title" href="#">Shop Layout</a>
                                                            <ul>
                                                                <li><a href="shop.html">standard style</a></li>
                                                                <li><a href="shop-sidebar.html">shop grid sidebar</a></li>
                                                                <li><a href="shop-list.html">shop list style</a></li>
                                                                <li><a href="shop-list-sidebar.html">shop list sidebar</a></li>
                                                                <li><a href="shop-right-sidebar.html">shop right sidebar</a></li>
                                                                <li><a href="shop-location.html">store location</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-title" href="#">Products Layout</a>
                                                            <ul>
                                                                <li><a href="product-details.html">tab style 1</a></li>
                                                                <li><a href="product-details-2.html">tab style 2</a></li>
                                                                <li><a href="product-details-gallery.html">gallery style </a></li>
                                                                <li><a href="product-details-affiliate.html">affiliate style</a></li>
                                                                <li><a href="product-details-group.html">group style</a></li>
                                                                <li><a href="product-details-fixed-img.html">fixed image style </a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="shop.html"><img src="assets/images/banner/menu.png" alt=""></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="shop.html">KIDS</a>
                                            <ul class="mega-menu-style mega-menu-mrg-1">
                                                <li>
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-title" href="#">Shop Layout</a>
                                                            <ul>
                                                                <li><a href="shop.html">standard style</a></li>
                                                                <li><a href="shop-sidebar.html">shop grid sidebar</a></li>
                                                                <li><a href="shop-list.html">shop list style</a></li>
                                                                <li><a href="shop-list-sidebar.html">shop list sidebar</a></li>
                                                                <li><a href="shop-right-sidebar.html">shop right sidebar</a></li>
                                                                <li><a href="shop-location.html">store location</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-title" href="#">Products Layout</a>
                                                            <ul>
                                                                <li><a href="product-details.html">tab style 1</a></li>
                                                                <li><a href="product-details-2.html">tab style 2</a></li>
                                                                <li><a href="product-details-gallery.html">gallery style </a></li>
                                                                <li><a href="product-details-affiliate.html">affiliate style</a></li>
                                                                <li><a href="product-details-group.html">group style</a></li>
                                                                <li><a href="product-details-fixed-img.html">fixed image style </a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="shop.html"><img src="assets/images/banner/menu.png" alt=""></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="about-us.html">ABOUT</a></li>
                                        <li><a href="contact-us.html">CONTACT US</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                       <div class="col-lg-3 col-md-6 col-6">
                            <div class="header-action-wrap">
                                <div class="header-action-style header-search-1">
                                    {{!-- <a class="search-toggle" href="#">
                                        <i class="pe-7s-search s-open"></i>
                                        <i class="pe-7s-close s-close"></i>
                                    </a> --}}
                                    {{!-- <button style="border: none;" class="bg-white text-small"> --}}
                                        {{#if user}}
                                         <a href="/logout">LOGOUT</a>
                                        {{else}}
                                        <a href="/user_signin">LOGIN</a>
                                        {{/if}}
                                        {{!-- </button> --}}
                                        
                                    <div class="search-wrap-1">
                                        <form action="#">
                                            <input placeholder="Search products…" type="text">
                                            <button class="button-search"><i class="pe-7s-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                                {{!-- <div class="header-action-style">
                                    {{#if user}}
                                              <a title="Logout Register" href="/logout"><i class="pe-7s-user"></i></a>
                                 
                                    {{else}}
                                       <a title="Login Register" href="view_product"></a>"><i class="pe-7s-user"></i></a>
                          
                                  
                                    {{/if}}
                                </div> --}}
                                <div class="header-action-style">
                                    <a title="Wishlist" href="wishlist.html"><i class="pe-7s-like"></i></a>
                                </div>
                                <div class="header-action-style">
                                    <a title="profile page" href="/profile"><i class="pe-7s-user"></i></a>
                                    </div>
                                <div class="header-action-style header-action-cart">
                                    <a class="cart-active" href="#"><i class="pe-7s-shopbag"></i>
                                        <span class="product-count bg-black">01</span>
                                    </a>
                                </div>
                                <div class="header-action-style d-block d-lg-none">
                                    <a class="mobile-menu-active-button" href="#"><i class="pe-7s-menu"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </header>
        <div class="product-area pt-95 pb-60">
            <div class="container">
                <div class="section-title-tab-wrap mb-75">
                    <div class="section-title-2">
                        <h2>orderd Products</h2>
                    </div>
                    {{!-- <div class="tab-style-1 nav">
                        <a class="active" href="#pro-1" data-bs-toggle="tab">New Arrivals </a>
                        <a href="#pro-2" data-bs-toggle="tab" class=""> Best Sellers </a>
                        <a href="#pro-3" data-bs-toggle="tab" class=""> Sale Items </a>
                    </div> --}}
                </div>
                <div class="">
                    <div id="pro-1" class="tab-pane active">
                        <div class="row">
                            {{#each products}}
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                <div class="product-wrap mb-35">
                                    <div class="product-img img-zoom mb-25">
                                        <a href="/image_zoom">
                                            <img src="/product-images/{{this.product._id}}.jpg" height="300px" alt="">
                                        </a>
                                        <div class="product-badge badge-top badge-right badge-pink">
                                            <span>-10%</span>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href="product-details.html">{{this.product.name}}</a></h3>
                                        <div class="product-price">
                                            {{!-- <span class="old-price">$25.89 </span> --}}
                                            <span class="new-price">₹{{this.product.price}} </span>
                                             
                                        </div>
                                        <span class="new-price">{{this.quantity}} </span>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>


         {{!-- <div class="section-title-2">
        <h2>Orderd Products</h2>
        </div> --}}
        {{!-- {{#each products}}
        
            <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
             <div>
                <img src="/product-images/{{this.product._id}}.jpg" height="300px" alt="">
             </div>
              <div>
             {{this.product.name}}
             </div>
             <div>
             {{this.product.price}}
             </div>
             </div>
            </div>
        {{/each}}
                      --}}